<div class="bg-dark fixed-bottom " style="height: 30px;">
    <div class="text-light text-center">Made with <i class="fas fa-heart " style="color: rgb(151, 16, 16)"></i> <span id="footer"></span></div>
</div>