<style>
p{
        padding: 20px;
        font-size: 15px;
}
</style>
        <div class="display-3 h-25 text-center border"> Earthquakes</div>
        
        <kbd>Overview</kbd> <br>
        <p>
                        About 50 earthquakes occur each day around the world. Although most of these do not have a noticeable effect on life and work, large-magnitude earthquakes occurring near cities and towns can cause catastrophic devastation through destruction of buildings and infrastructure.
        </p>
        <kbd>Safety Tips and precautions</kbd>

        <ul>
                <li>Before Earthquake</li>
                <ol>
                        <li>Store heavy items or glassware in lower cabinets so they do not become dangerous projectiles.</li>
                        <li>Be sure both old and new buildings meet earthquake construction requirements.</li>
                        <li>Install latches on cupboard doors to prevent them from opening during a quake.</li>
                        <li>Keep cell phones charged and replace emergency kit supplies as necessary to keep them usable.</li>
                        <li>Teach all family members basic first aid, how to behave during a quake, and what to do after a quake.</li>
                </ol>
                <li>During an Earthquake</li>
                <ol>
                        <li>Immediately seek a safe location such as in a doorway (if you live in an old, adobe house that is not reinforced), beneath a table or desk, or along an interior wall away from windows or hazardous objects.</li>
                        <li>Do not take elevators during an earthquake</li>
                        <li>If cooking, turn off heating elements immediately.</li>     

                </ol>
                <li>After an Earthquake</li>
                <ol>
                        <li>Be prepared for aftershocks, which may be stronger than the initial jolt</li>
                        <li>Tend injuries immediately and summon emergency assistance if necessary.</li>
                        <li>Wear shoes at all times to avoid stepping on broken glass.</li>   

                </ol>
        </ul>
        
    