<div class="display-3 h-25 text-center text-danger border"> WildFires</div>
<br>
<kbd>Overview</kbd>
<p>
        In 2016, over 67,000 wildfires were reported across the US. In total, the wildfires destroyed over 4,000 structures. 3,000 of the structures destroyed were residential. As commercial and personal real estate development expands into forests and grasslands, the odds of wildfire related property damage goes up.  

</p>
<kbd>Safety Tips and precautions</kbd>
<br>
<ul>
    <li>Before Fire:</li>
    <ol>
        <li>Clear leaves and other debris from gutters, eaves, porches and decks. This prevents embers from igniting your home.</li>
        <li>Remove dead vegetation and other items from under your deck or porch, and within 10 feet of the house. Learn more about the basics of defensible space on the Firewise website.</li>
        <li>Screen or box-in areas below patios and decks with wire mesh to prevent debris and combustible materials from accumulating.</li>
        <li>Keep your lawn hydrated and maintained. If it is brown, cut it down to reduce fire intensity. Dry grass and shrubs are fuel for wildfire.</li>
        <li>Keep your lawn hydrated and maintained. </li>
            
    </ol>
    <li>During Wildfire:</li>
    <ol>
        <li>Stay aware of the latest news and updates from your local media and fire department. Get your family, home and pets prepared to evacuate.</li>
        <li>Place your emergency supply kit and other valuables in your vehicle.</li>
        <li>Close and protect your home’s openings, including attic and basement doors and vents, windows, garage doors and pet doors to prevent embers from penetrating your home.</li>
    </ol>
</ul>