<div class="display-3 h-25 text-center text-success border"> Flood</div>
<br>
<kbd>Overview</kbd>
<p>
Flash flooding is the most hazardous weather disaster in the United States. Floods cause power outages, damage infrastructure, trigger landslides, and can be deadly.

Heavy rainfall in a short period of time causes water to rise rapidly, elevating the risk of flooding. Flash floods occur with little warning, but flooding can also develop slowly after rain ceases.
</p>    
<kbd>Safety Tips and precautions</kbd>
<br>
<ul>
    <li>Before flood:</li>
    <ol>
        <li>Avoid building in a floodplain—an area especially prone to flooding during heavy rains</li>
        <li>If you do live in a floodplain, consider buying flood insurance to help with losses if, and when, a flood occurs.</li>
        <li>Pay attention to weather forecasts. When heavy rain or storms are forecasted, listen to the radio or television for information on flooding risk.</li>
         <li>Seal walls in basements with waterproofing compounds to avoid seepage.</li>
    </ol>
   <li>When a flood is imminent</li> 
   <ol>
       <li>Have an emergency plan and practice survival skills, like first aid and how to disinfect water</li>
       <li>Be prepared! Assemble an emergency kit in case you need to evacuate. Don't forget to include necessary prescription medications and a small first aid kit.</li>
   </ol>
<li>During a flood</li>
<ol>
    <li>Avoid low spots, like ditches, basements, or underpasses. These become extremely dangerous during a flash flood.</li>
    <li>Do not walk through flooded areas. It can be difficult to tell how deep the water is and what lies underneath the water that could hurt you. Even shallow, moving water can make you fall.</li>
    <li>If you have to walk in water, wherever possible, walk where the water is not moving. Use a stick to check the firmness of the ground in front of you.</li>
    <li>Do not drive into flooded areas. Remember: “Turn around, don’t drown.” If floodwaters rise around your car, abandon the car and move to higher ground—only if you can do so safely.</li>
</ol>
</ul>