<div class="display-3 h-25 text-center text-warning border"> Landslides</div>
<br>
<kbd>Overview</kbd>
<p>
        Landslides have occurred in almost every state and can cause significant damage. The term landslide describes downhill earth movements that can move slowly and cause damage gradually, or move rapidly, destroying property and taking lives suddenly and unexpectedly. Most landslides are caused by natural forces or events, such as heavy rain and snowmelt, shaking due to earthquakes, volcanic eruptions and gravity

</p>
<kbd>Safety Tips and precautions</kbd>
<br>
<ul>
    <li>Before Landslide:</li>
    <ol>
        <li>Learn about local emergency response and evacuation plans.
            </li>
        <li>Talk to everyone in your household about what to do if a landslide occurs.</li> 
        <li>Assemble and maintain an emergency preparedness kit</li>   
        <li>Watch the patterns of storm water drainage on slopes near your home, especially where runoff water converges.</li>
        <li>Create and practice an evacuation plan for your family and your business.
            </li>
    </ol>
    <li>During Landslide:</li>
    <ol>
        <li>If you suspect imminent danger, evacuate immediately. Inform affected neighbors if you can, and contact your public works, fire or police department.</li>
        <li>Listen for unusual sounds that might indicate moving debris, such as trees cracking or boulders knocking together.</li>
        <li>Be especially alert when driving— watch for collapsed pavement, mud, fallen rocks and other indications of possible debris flow.</li>
    </ol>
    <li>After Landslide:</li>
    <ol>
        <li>Stay away from the slide area. There may be danger of additional slides.</li>
        <li>Check for injured and trapped persons near the slide, without entering the direct slide area. Direct rescuers to their locations.</li>
        <li>Listen to local radio or television stations for the latest emergency information.</li>
        <li>Check the building foundation, chimney, and surrounding land for damage. Damage to foundations, chimneys, or surrounding land may help you assess the safety of the area.</li>

    </ol>
</ul>